<div class="my-google-map">
    <google-map
    height = "93vh"
    width = "100vw"
    [options]="mapOptions"
    [center]="mapCenter">
        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions$ | async"
        [position]="markerPosition"
        [options]="markerOptions"
        [icon] = "getIconData(markerPosition)"
        (mapClick)="openInfoWindow(marker, markerPosition)">
        <map-info-window>{{windowInfo}}</map-info-window>
    </map-marker>
    <map-marker *ngIf="userPosition"
    [position]="userPosition"
    [options]="markerOptions"
    [icon]="getUserLocationIcon()"></map-marker>

    </google-map>
</div>