<div class="my-google-map">
    <google-map
    height = "87.5vh"
    width = "100vw"
    [options]="mapOptions"
    [center]="mapCenter">
        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions$ | async"
        [position]="markerPosition"
        [options]="markerOptions"
        [icon] = "getIconData(markerPosition)"
        (mapClick)="openInfoWindow(marker, markerPosition)">
        <map-info-window>{{windowInfo}}</map-info-window>
    </map-marker>
    <map-marker *ngIf="userPosition"
    [position]="userPosition"
    [options]="markerOptions"
    [icon]="getUserLocationIcon()"></map-marker>

    </google-map>
</div>

<ul class="nav nav-fill">
    <li class="nav-item" *ngFor="let category of disasterCategories"
        [ngClass]="{'selected-category' : category === currentFilter.toString()}"
        style="display: flex; align-items: center; justify-content: center; cursor: pointer;">
      <img (click)="filterSelect(category)" [src]="getIconImageFromCategory(category)" style="height: 20px; width: 20px; padding: 0; margin: 0;"/>
      <p class="nav-link active" (click)="filterSelect(category)"><small>({{ getFilterNumber(category)}})</small></p>
    </li>
</ul>