<!-- <div class="img-container">
  <h1>Natural Event Tracker</h1>
</div> -->

<body>
  <div class="img-container">
    <div class="img-container-text">
      <h1 style="font-size:50px">Natural Event Tracker</h1>
    </div>
  </div>
  <div class="info-div">
    <h3>About the Natural Event Tracker</h3>
    <p>The Natural Event Tracker is designed to help alert users to any natural disasters in their area.
      Through leveraging both NASA's EONET API and Twilio, we are able to create a comprehensive map of ongoing natural events, and alert users
      by text, if there are any in their current vicinity.
    </p>
    <p>We created this website as a part of Hack the Valley 5.
      We hope anyone who comes along to this app enjoys it and leaves with a better understanding of natural disasters and their effect on the environment.
      Thank you for taking the time to visit our website.
    </p>
    <p>Below are some links describing the correlation between our carbon emmissions and natural disasters:</p>
    <ul class="links">
      <li>
        <a href="https://www.usgs.gov/faqs/how-can-climate-change-affect-natural-disasters-1?qt-news_science_products=0#qt-news_science_products">
          U.S. Geological Survey article
        </a>
      </li>
      <li>
        <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1467-9523.2006.00303.x?casa_token=PBwuTJrY_a0AAAAA%3Agerm1ATAs7ENeUyosBY4kPQQgefxv0o2VcQpghePnxZqx9vH0mnKB5qjZb1h_MXfPI2oiGp_OnnpkJc">
          Paper by Maarten K. Van Aalst
        </a>
      </li>
    </ul>
  </div>
  <div class="created-by">
    <a href="https://github.com/cliff42">
      <img src="https://avatars.githubusercontent.com/u/45251852?v=4">
    </a>
    <a href="https://github.com/TheEpicWatermelon">
      <img src="https://avatars.githubusercontent.com/u/1976505?v=4">
    </a>
  </div>
</body>
